# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [1]:
import numpy as np
import pandas as pd

In [20]:
%pip install pandas

import warnings

warnings.filterwarnings('ignore')

Requirement already satisfied: pandas in /Users/joseluisreguera/opt/anaconda3/lib/python3.9/site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/joseluisreguera/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/joseluisreguera/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /Users/joseluisreguera/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /Users/joseluisreguera/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

### 2. Create a Pandas Series containing the elements of the list below.

In [ ]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [3]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]
serie = pd.Series(lst)
print(serie)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [4]:
serie[2]

74.4

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [7]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

panda_dataframe = pd.Series(b)
panda_dataframe

0    [53.1, 95.0, 67.5, 35.0, 78.4]
1    [61.3, 40.8, 30.8, 37.8, 87.6]
2    [20.6, 73.2, 44.2, 14.6, 91.8]
3      [57.4, 0.1, 96.1, 4.2, 69.5]
4    [83.6, 20.5, 85.4, 22.8, 35.9]
5     [49.0, 69.0, 0.1, 31.8, 89.1]
6    [23.3, 40.7, 95.0, 83.8, 26.9]
7    [27.6, 26.4, 53.8, 88.8, 68.5]
8    [96.6, 96.4, 53.4, 72.4, 50.1]
9    [73.7, 39.0, 43.2, 81.6, 34.7]
dtype: object

### 5. Rename the data frame columns based on the names in the list below.

In [19]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [34]:
panda_dataframe.columns = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

df = pd.DataFrame(array, columns=colnames)

df

    Score_1   Score_2   Score_3   Score_4   Score_5
0  0.182056  0.279670  0.743154  0.636658  0.423471
1  0.415640  0.840119  0.667856  0.440104  0.900396
2  0.060910  0.341148  0.705110  0.498389  0.236569
3  0.985080  0.481346  0.604807  0.079624  0.137932
4  0.534223  0.583675  0.731930  0.913477  0.818878
5  0.925797  0.413524  0.940557  0.255156  0.227232
6  0.733798  0.397167  0.932559  0.167910  0.990936
7  0.453580  0.699826  0.688808  0.950097  0.018167
8  0.090086  0.323505  0.097274  0.631437  0.045931
9  0.873144  0.780564  0.524643  0.572958  0.642102

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [35]:
df_subset = df[['Score_1', 'Score_3', 'Score_5']]

df_subset

    Score_1   Score_3   Score_5
0  0.182056  0.743154  0.423471
1  0.415640  0.667856  0.900396
2  0.060910  0.705110  0.236569
3  0.985080  0.604807  0.137932
4  0.534223  0.731930  0.818878
5  0.925797  0.940557  0.227232
6  0.733798  0.932559  0.990936
7  0.453580  0.688808  0.018167
8  0.090086  0.097274  0.045931
9  0.873144  0.524643  0.642102

### 7. From the original data frame, calculate the average Score_3 value.

In [37]:
avg_score_3 = df['Score_3'].mean()

print(avg_score_3)

0.6636698258611877

### 8. From the original data frame, calculate the maximum Score_4 value.

In [38]:
max_score_4 = df['Score_4'].max()

print(max_score_4)

0.9500974979994151

### 9. From the original data frame, calculate the median Score 2 value.

In [39]:
median_score_2 = df['Score_2'].median()

print(median_score_2)

0.4474346467113693

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [ ]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [43]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

df = pd.DataFrame(orders)

df

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [44]:
total_quantity = df['Quantity'].sum()

total_revenue = df['Revenue'].sum()

print("Cantidad total ordenada:", total_quantity)
print("Ganancia total generada:", total_revenue)

Cantidad total ordenada: 2978
Ganancia total generada: 637.0

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [46]:
# Crear una columna para el precio total
orders['TotalPrice'] = orders['Quantity'] * orders['UnitPrice']

# Encontrar los precios máximo y mínimo
max_price = orders['TotalPrice'].max()
min_price = orders['TotalPrice'].min()

# Imprimir la diferencia
print("La diferencia entre el precio más caro y el más barato es:", max_price - min_price)

TypeError: can't multiply sequence by non-int of type 'list'